.about img {
  max-width: 100%;
  max-height: 200px;
}

.col-md-6 {
  width: 40%;
  float: left;
  border: 2px solid darkgrey;
  border-radius: 3%;
  margin: 5px;
}

.project img {
  max-width: 100%;
}
